<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Notes App{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="static/style.css" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">Notes App</a>

      {% if session.get('user') %}
      <a href="{{ url_for('logout') }}">
        <button class="btn btn-outline-danger">Logout</button>
      </a>
      {% else %}
      <a href="{{ url_for('login') }}">
        <button class="btn btn-outline-primary">Login</button>
      </a>
      {% endif %}
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>